/*abstracts*/
@use "abstracts/variable";
/*components*/
@use "components/btn";
/*layout*/
@use "layout/header";
@use "layout/footer";
@use "layout/title";
@use "layout/home";
@use "layout/portfolio";
@use "layout/presentation";
@use "layout/objectif";
@use "layout/carousel";
@use "layout/languages";
@use "layout/cv";

/*base*/
@use "base/base";
@use "base/fonts";