@use "../abstracts/variable" as variable;

.btn {
    color: rgb(255, 255, 255);
    padding: 17px 19px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.3rem;
}