.carousel {
    width: 1200px;
    height: 800px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
}

.carousel img.active {
    opacity: 1;
}

.galery {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.title-portfolio h2 {
    text-align: center;
}

.title-portfolio{
    font-size: 1.5rem;
}