
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}



.galery {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
        .carousel {
        width: 1200px;
        height: 800px;
        overflow: hidden;
        position: relative;
        border: 1px solid black;
    }
    .carousel img.active {
    opacity: 1;
    }
}

.title-portfolio h2 {
    text-align: center;
}

.title-portfolio{
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .galery{
        .carousel{
            width: 800px;
            height: 550px;
        }
    }
}
@media screen and (max-width: 375px) {
    .galery{
        .carousel{
            height: 500px;
            width: 450px;
        }
        
    }
    .title-portfolio{
            h2{
                font-size: 1.7rem;
            }
        }
}