@use "../abstracts/variable" as variable;
header{
    background-color:variable.$primary-color;
    nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 95%;
        ul{
        display: flex;
        list-style-type: none;
        gap: 5rem;
                a {
            text-decoration: none; 
            border: none;
            outline: none;
            color:variable.$secondary-color;
            font-size: 1.4rem;
            cursor: pointer;
            transition: 0.2s;

        }
        a:hover{
            color:variable.$third-color;
            font-size: 1.5rem;

}
        }
        li{
            list-style-type: none;
            
        }
    }
}
.logo{
    width: 15%;
    margin-left: 2rem;
}

