@use "../abstracts/variable" as variable;
header{
    background-color:variable.$primary-color;
    nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 95%;
        ul{
        display: flex;
        list-style-type: none;
        gap: 5rem;
        li{
            list-style: none;
        }
    }
}}
.logo{
    width: 15%;
    margin-left: 2rem;
}
