@use "../abstracts/variable" as variable;

.sect-home{
    background-color:variable.$secondary-color;
    margin: 0;
        font-size: 2rem;
        padding: 5rem;
        .home{
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            .home-title{
            align-items: center;
                strong{
                    color:variable.$third-color; 
            }
    } 
            .home-text{ 
            width: 42%;
        }
    }
}
@media screen and (max-width: 768px) {
    
    .sect-home{
        padding: 2rem;
            .home{
            display: flex;
            flex-direction: column;
                .home-text{
                width: 100%;
    }
        }
    }
    

}
@media screen and (max-width: 375px) {

}
