@use "../abstracts/variable" as variable;

.sect-home{
    background-color:variable.$secondary-color;
    margin: 0;
    font-size: 1.5rem;
    padding: 5rem;
        .home{
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            .home-title{
            align-items: center;
                strong{
                    color:variable.$third-color; 
                }
            
    } 
            .home-text{
            width: 42%;
        }
    }
}