@use "../abstracts/variable" as variable;


.logo-language{
    background-color: variable.$secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
    padding: 2rem ; 
    margin-bottom:2rem ;
    a {
        display: inline-block;
    }
    
    img{
        width: 8rem;
        transition: 0.5s;
    }
    img:hover{
        width: 8.4rem;
        border: 1px solid variable.$primary-color;
        padding: 10px;
        border-radius: 6px;
    }
}
.languages{
    text-align: center;
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    .logo-language{
        img{
            width: 6rem;
        }
    }
}

@media screen and (max-width: 375px) {
    .logo-language{
        gap: 2rem;
        img{
            width: 5rem;
        }
            img:hover{
        width: 5rem;
        border:none;
        padding: 10px;
        border-radius: 6px;
    }
    }
}