@use "../abstracts/variable" as variable;

.portfolio {
    .container-portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .img-portfolio{
        display: flex;
        max-width:100%;
        justify-content: center;
        gap: 8rem;
        
         }
         
        img{
            max-width: 120%;
            filter: brightness(0.7);
            transition-duration: 0.5s;
            border-radius: 3px;
            
        }
        img:hover{
                filter: brightness(1);
                max-width: 122%;
            }
            .btn{
                background-color:variable.$primary-color;
                transition: 0.3s;
            }
            .btn:hover{
                background-color:variable.$secondary-color;
                color:variable.$primary-color;
            }
    }
    h2{
        font-size: 2.5rem;

    }

