@use "../abstracts/variable" as variable;

.portfolio {
    .container-portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .img-portfolio{
        display: flex;
        max-width:90%;
        justify-content: center;
        gap: 5rem;
        
         }
         
        img{
            max-width: 100%;
            filter: brightness(0.7);
            transition-duration: 0.5s;
            border-radius: 3px;
            border: 1px solid black;
            
        }
        img:hover{
                filter: brightness(1);
                max-width: 102%;
            }
            .btn{
                background-color:variable.$primary-color;
                transition: 0.3s;
            }
            .btn:hover{
                background-color:variable.$secondary-color;
                color:variable.$primary-color;
            }
    }
    h2{
        font-size: 2.5rem;

    }

@media screen and (max-width: 768px) {
.container-portfolio{
        
    .img-portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img{
            max-width: 30rem;
            filter: brightness(1);
            border-radius: 3px;
            border: 1px solid black;
            
            }
        }
    }
}
@media screen and (max-width: 375px) {

    .container-portfolio{
         .img-portfolio{
            img{
                max-width: 20rem;
            }
        }
    }
}
