.portfolio {
    .container-portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .img-portfolio{
        display: flex;
        max-width:100%;
        justify-content: center;
        gap: 8rem;
        filter: brightness(0.7);
        
        img{
            max-width: 120%;
            
        }
    }
    h2{
        font-size: 2.5rem;
    }
    .img-portfolio:hover{
            filter: brightness(1);
         }
}
