@use "../abstracts/variable" as variable;
.title{
    background-image:url("../img/title/image.png");
    height: 80vh;   
    display: flex;   
    align-items: center;
    justify-content: center;
    text-align: center;
        .text-title{
            font-size: 1.5rem;
            .mylan{
            color:variable.$third-color;
         }
    }
}
@media screen and (max-width: 375px) {
    .title{
        .text-title{
            font-size: 1.2rem;
        }
    }
}