/*abstracts*/
/*components*/
.btn {
  color: rgb(255, 255, 255);
  padding: 17px 19px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.3rem;
}

/*layout*/
header {
  background-color: rgb(18, 20, 23);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 5rem;
}
header nav ul a {
  text-decoration: none;
  border: none;
  outline: none;
  color: rgb(206, 212, 218);
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s;
}
header nav ul a:hover {
  color: #f8f9fa;
  font-size: 1.5rem;
}
header nav li {
  list-style-type: none;
}

.logo {
  width: 15%;
  margin-left: 2rem;
}

footer {
  background-color: rgb(18, 20, 23);
}
footer .container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container-footer .container-logo-reseau {
  display: flex;
  justify-content: center;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  gap: 1.2rem;
  border-bottom: 1px solid rgb(206, 212, 218);
  padding-bottom: 1rem;
}
footer .container-footer .container-logo-reseau img {
  width: 50px;
  transition: 0.2s;
}
footer .container-footer .container-logo-reseau img:hover {
  width: 55px;
}
footer .container-footer .logo-dev {
  margin-left: 2rem;
}
footer .container-footer .logo-dev img {
  width: 75px;
}

.container-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.container-copyright .copyright {
  color: rgb(206, 212, 218);
}

.title {
  background-image: url("../img/title/image.png");
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title .text-title {
  font-size: 1.5rem;
}
.title .text-title .mylan {
  color: #f8f9fa;
}

.sect-home {
  background-color: rgb(206, 212, 218);
  margin: 0;
  font-size: 2rem;
  padding: 5rem;
}
.sect-home .home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.sect-home .home .home-title {
  align-items: center;
}
.sect-home .home .home-title strong {
  color: #f8f9fa;
}
.sect-home .home .home-text {
  width: 42%;
}

.portfolio .container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.portfolio .img-portfolio {
  display: flex;
  max-width: 100%;
  justify-content: center;
  gap: 8rem;
}
.portfolio img {
  max-width: 120%;
  filter: brightness(0.7);
  transition-duration: 0.5s;
  border-radius: 3px;
}
.portfolio img:hover {
  filter: brightness(1);
  max-width: 122%;
}
.portfolio .btn {
  background-color: rgb(18, 20, 23);
  transition: 0.3s;
}
.portfolio .btn:hover {
  background-color: rgb(206, 212, 218);
  color: rgb(18, 20, 23);
}

h2 {
  font-size: 2.5rem;
}

.qui-suis-je {
  background-color: rgb(206, 212, 218);
  padding-bottom: 3rem;
}
.qui-suis-je h2 {
  font-size: 3rem;
  margin: 0;
  padding-top: 2.5rem;
}
.qui-suis-je p {
  font-size: 2.5rem;
}

.objectif {
  background-color: #f8f9fa;
  text-align: right;
  padding-bottom: 6rem;
}
.objectif h2 {
  font-size: 3rem;
  margin: 0;
  padding-top: 2.5rem;
}
.objectif p {
  font-size: 2.5rem;
}

.carousel {
  width: 1200px;
  height: 800px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel img.active {
  opacity: 1;
}

.galery {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.title-portfolio h2 {
  text-align: center;
}

.title-portfolio {
  font-size: 1.5rem;
}

.logo-language {
  background-color: rgb(206, 212, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.logo-language a {
  display: inline-block;
}
.logo-language img {
  width: 8rem;
  transition: 0.2s;
}
.logo-language img:hover {
  width: 8.4rem;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
}

.languages {
  text-align: center;
  font-size: 1.5rem;
}

.cv-container {
  display: flex;
  justify-content: center;
  gap: 15rem;
  font-size: 1.3rem;
  margin-left: 17rem;
  margin-top: 5rem;
}

.formation {
  border-left: 1px solid rgb(206, 212, 218);
  padding-left: 2rem;
}

/*base*/
body {
  margin: 0;
  font-family: "roboto regular";
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

@font-face {
  font-family: "roboto regular";
  src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

/*# sourceMappingURL=style.css.map */
